.panel.panel-default
    .panel-heading
        h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#searchBook") Search Books
    .panel-collapse.collapse#searchBook
        .panel-body
            p Work in progress...