.panel.panel-default
    .panel-heading
        h4.panel-title
            a(data-toggle="collapse", data-parent="#accordion", href="#searchEvent") Search Events
    .panel-collapse.collapse#searchEvent
        .panel-body
            p Work in progress...