.col-md-2.col-sm-12.sidebar
    ul
        li
            span.glyphicon.glyphicon-search
            a(href="index.html") Search
        li
            span.glyphicon.glyphicon-floppy-disk
            a(href="javascript:void(0)") Saved Lists
        li
            span.glyphicon.glyphicon-plus-sign
            a(href="javascript:void(0)") Connected accounts
        li
            span.glyphicon.glyphicon-list-alt
            a(href="javascript:void(0)") Search History
        li
            span.glyphicon.glyphicon-star
            a(href="javascript:void(0)") Favorites
        li
            span.glyphicon.glyphicon-unchecked
            a(href="graph.html") Graph
        li
            span.glyphicon.glyphicon-file
            a(href="report.html") Report