.col-md-3.col-sm-6.searchBar
    .panel-group#accordion
        include searches/person.jade
        include searches/event.jade
        include searches/book.jade
        include searches/place.jade
        include searches/institute.jade