doctype html

html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title SoR
        link(href="css/bootstrap.min.css", rel="stylesheet")
        link(href="css/stylesheet.css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway:400,300,500,700", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
    body
        .container-fluid.top-side
            .row
                .col-md-8
                    h1.logo
                        a(href="index.html")
                            img(src="images/logo.png" alt="sor")
                        span Social Recommender
                .col-md-4
                    .user-box
                        img(src="images/avatar.jpg" alt="avatar")
                        p.name Fermuș V. Vasile-Octavian
                        ul.usermenu
                            li
                                a(href="profile.html")
                                    span.glyphicon.glyphicon-user &thinsp;
                                    | Profile 
                            li
                                a(href="connect.html")
                                    span.glyphicon.glyphicon-eye-open &thinsp;
                                    | Connect 
                            li
                                a(href="register.html")
                                    span.glyphicon.glyphicon-log-out &thinsp;
                                    | Log out