include snippets/guest-header.jade

.container-fluid.top-side
    .row
        .col-md-12
            h1.logo
                img(src="images/logo.png", alt="sor")
                span Social Recommender
        .col-md-12
            ul.menu
                li
                    a(href="login.html") Sign in
                li
                    a(href="about.html") About us
                    
.container-fluid.specification-side
    .row
        .col-md-7
            h2 Start using SoR today!
            p SoR is an application able to recommend certain people/events/things of interest according to a given FOAF graph built for a specific user based on its social media profile(s).
            p For example, suggesting the members of an IT team based on desired skills (excellent knowledge of Web technologies + software engineering + open hardware), geolocation (i.e. from Romania and UK only), preferences, hobbies (i.e. horror movies + classical music), aversions (e.g., communication by phone, football, politics) and so on.
        .col-md-5
            form.register-form(role="form")
                .row
                    .col-md-6
                        .form-group
                            input.form-control#lastName(name="lastName", type="text", placeholder="last name..")
                    .col-md-6
                        .form-group
                            input.form-control#firstName(name="firstName", type="text", placeholder="first name..") 
                    .col-md-6
                        .form-group
                            label.display-inline-block(for="sex") I am a..
                                .radio.display-inline-block.radiofix
                                    label
                                        input#optionsRadios1(type="radio", name="sex", value="male" checked)
                                        | Male
                                    label
                                        input#optionsRadios2(type="radio", name="sex", value="female")
                                        | Female
                    .col-md-6
                        .form-group
                            select.form-control
                                option(value="") I am living in..
                                option(value="Romania") Romania
                    .col-md-12
                        .form-group
                            input.form-control#email(type="email", placeholder="email..")
                    .col-md-12
                        .form-group
                            input.form-control#password(type="password", placeholder="password..")
                    .col-md-12
                        .form-group
                            input.form-control#passwordCheck(type="password", placeholder="repeat password..")
                    .col-md-12.text-right
                        .form-group
                            button(type="submit") Register
                            
include snippets/footer.jade